.image{
    width: "300px"; 
    border-radius: "10px";
    margin-bottom: "1rem";
}

.button{

    padding: "8px 16px";
    margin-top: "1rem";
    border-radius: "5px";
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}